<h1>Coin Count</h1>
<h3>User enters an amount of change in cents only, not dollars, and the program will return the correct amount of change in as few of coins as possible.</h3>
<form action='/results'>
  <div class="form-group">
    <label for="userInput">Enter amount of change in cents</label>
    <input id="useInput" name="userInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
