<h1>Vowel Replace Game</h1>
<h3>Welcome to a word puzzle challenge. Enter a word or sentence and hit submit. It will the be converted into a word puzzle for you or a friend to solve.</h3>
<form action='/results'>
  <div class="form-group">
    <label for="userInput">Enter word or phrase to be puzzled</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Puzzle It!</button>
</form>
